In [227]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import os
import datetime

#### Merging 12 months sales data into a single cell

In [228]:
df = pd.read_csv("./Sales_Data/Sales_April_2019.csv")

files = [file for file in os.listdir('./Sales_Data')]

merged_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("./Sales_Data/"+ file)
    merged_data = pd.concat([merged_data, df])
    
merged_data.to_csv("merged_data.csv", index=False)

#### Reading the updated dataframe

In [231]:
merged_data = pd.read_csv('merged_data.csv')
merged_data.head(50)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"
5,248156,34in Ultrawide Monitor,1,379.99,09/13/19 14:59,"469 12th St, Los Angeles, CA 90001"
6,248157,Lightning Charging Cable,1,14.95,09/07/19 09:59,"773 Johnson St, Portland, ME 04101"
7,248158,Lightning Charging Cable,1,14.95,09/02/19 14:16,"682 Sunset St, Los Angeles, CA 90001"
8,248159,Vareebadd Phone,1,400.0,09/06/19 16:45,"664 Wilson St, New York City, NY 10001"
9,248160,Wired Headphones,1,11.99,09/01/19 22:03,"446 9th St, San Francisco, CA 94016"
10,248161,USB-C Charging Cable,1,11.95,09/24/19 16:26,"439 Spruce St, San Francisco, CA 94016"
11,248162,AAA Batteries (4-pack),3,2.99,09/14/19 12:52,"439 Walnut St, Seattle, WA 98101"
12,248163,USB-C Charging Cable,1,11.95,09/25/19 12:32,"41 North St, Portland, OR 97035"
13,248164,27in FHD Monitor,1,149.99,09/12/19 15:57,"88 9th St, San Francisco, CA 94016"
14,248165,Lightning Charging Cable,1,14.95,09/15/19 12:42,"585 Adams St, Atlanta, GA 30301"
15,248166,Apple Airpods Headphones,1,150.0,09/04/19 14:59,"21 9th St, Boston, MA 02215"
16,248167,Google Phone,1,600.0,09/02/19 18:52,"711 Forest St, San Francisco, CA 94016"
17,248168,USB-C Charging Cable,1,11.95,09/30/19 18:59,"219 Hickory St, San Francisco, CA 94016"
18,248169,20in Monitor,1,109.99,09/24/19 19:40,"140 Ridge St, San Francisco, CA 94016"
19,248170,AAA Batteries (4-pack),1,2.99,09/04/19 02:01,"857 Main St, Boston, MA 02215"
20,248171,USB-C Charging Cable,1,11.95,09/05/19 15:06,"705 Hill St, New York City, NY 10001"
21,248171,USB-C Charging Cable,1,11.95,09/05/19 15:06,"705 Hill St, New York City, NY 10001"
22,248172,Wired Headphones,1,11.99,09/13/19 16:49,"820 Hill St, Boston, MA 02215"
23,248173,Apple Airpods Headphones,1,150.0,09/14/19 20:47,"789 Lake St, Atlanta, GA 30301"
24,248174,Bose SoundSport Headphones,1,99.99,09/17/19 22:57,"385 Washington St, Dallas, TX 75001"
25,248175,iPhone,1,700.0,09/08/19 13:58,"736 4th St, Austin, TX 73301"
26,248176,AA Batteries (4-pack),2,3.84,09/12/19 13:18,"177 Sunset St, San Francisco, CA 94016"
27,248177,USB-C Charging Cable,1,11.95,09/24/19 20:36,"452 Adams St, San Francisco, CA 94016"
28,248178,Apple Airpods Headphones,1,150.0,09/03/19 21:52,"725 Jefferson St, Los Angeles, CA 90001"
29,248179,27in FHD Monitor,1,149.99,09/13/19 15:06,"510 Hickory St, New York City, NY 10001"
30,248180,USB-C Charging Cable,1,11.95,09/28/19 15:52,"99 Ridge St, New York City, NY 10001"
31,248181,Apple Airpods Headphones,1,150.0,09/08/19 12:40,"81 Spruce St, New York City, NY 10001"
32,248182,Apple Airpods Headphones,1,150.0,09/15/19 13:03,"950 West St, New York City, NY 10001"
33,248183,34in Ultrawide Monitor,1,379.99,09/18/19 17:47,"968 Ridge St, San Francisco, CA 94016"
34,248184,AA Batteries (4-pack),1,3.84,09/07/19 11:23,"948 Main St, New York City, NY 10001"
35,248185,34in Ultrawide Monitor,1,379.99,09/17/19 15:10,"967 Center St, New York City, NY 10001"
36,248186,USB-C Charging Cable,1,11.95,09/05/19 13:53,"318 Cherry St, Seattle, WA 98101"
37,248187,AAA Batteries (4-pack),3,2.99,09/07/19 23:31,"173 Elm St, Los Angeles, CA 90001"
38,248188,Apple Airpods Headphones,1,150.0,09/08/19 22:17,"136 12th St, San Francisco, CA 94016"
39,248189,Google Phone,1,600.0,09/14/19 12:45,"726 8th St, San Francisco, CA 94016"
40,248190,Bose SoundSport Headphones,1,99.99,09/24/19 21:47,"350 Lincoln St, New York City, NY 10001"
41,248191,AAA Batteries (4-pack),1,2.99,09/22/19 11:25,"446 2nd St, San Francisco, CA 94016"
42,248192,AAA Batteries (4-pack),2,2.99,09/21/19 09:16,"444 North St, Austin, TX 73301"
43,248193,USB-C Charging Cable,1,11.95,09/05/19 00:40,"867 Hill St, San Francisco, CA 94016"
44,248194,20in Monitor,1,109.99,09/29/19 20:50,"519 Cherry St, Dallas, TX 75001"
45,248195,ThinkPad Laptop,1,999.99,09/10/19 23:29,"631 6th St, Dallas, TX 75001"
46,248196,Lightning Charging Cable,1,14.95,09/29/19 21:56,"608 Spruce St, Dallas, TX 75001"
47,248197,Apple Airpods Headphones,1,150.0,09/02/19 19:39,"339 Highland St, Portland, OR 97035"
48,248198,AAA Batteries (4-pack),1,2.99,09/10/19 00:06,"200 Wilson St, Portland, OR 97035"
49,248199,Google Phone,1,600.0,09/11/19 12:47,"780 4th St, Boston, MA 02215"

In [230]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

### Data Cleaning

##### Displaying cells/rows with nan values

In [232]:
nan_df = merged_data[merged_data.isnull().any(axis=1)]
nan_df.head()

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
198       NaN     NaN              NaN        NaN        NaN              NaN
574       NaN     NaN              NaN        NaN        NaN              NaN
776       NaN     NaN              NaN        NaN        NaN              NaN
1383      NaN     NaN              NaN        NaN        NaN              NaN
1436      NaN     NaN              NaN        NaN        NaN              NaN

In [233]:
merged_data = merged_data.dropna(how='all')
merged_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001"
186846,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016"
186847,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035"
186848,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001"
186849,150501,Google Phone,1,600,01/13/19 16:43,"428 Cedar St, Boston, MA 02215"

##### Checking and removing duplicates

In [234]:
df2 = merged_data[merged_data.duplicated()]
df2

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
21,248171,USB-C Charging Cable,1,11.95,09/05/19 15:06,"705 Hill St, New York City, NY 10001"
658,248787,AA Batteries (4-pack),1,3.84,09/09/19 12:30,"705 Adams St, San Francisco, CA 94016"
1822,249895,34in Ultrawide Monitor,1,379.99,09/19/19 22:14,"901 South St, San Francisco, CA 94016"
1839,249910,AAA Batteries (4-pack),1,2.99,09/09/19 18:34,"295 Meadow St, San Francisco, CA 94016"
2113,250174,Apple Airpods Headphones,1,150,09/30/19 19:32,"490 6th St, New York City, NY 10001"
...,...,...,...,...,...,...
185597,149308,Apple Airpods Headphones,1,150,01/02/19 23:07,"351 Madison St, New York City, NY 10001"
185817,149515,USB-C Charging Cable,1,11.95,01/14/19 21:19,"913 10th St, Los Angeles, CA 90001"
186050,149738,USB-C Charging Cable,1,11.95,01/11/19 11:22,"612 West St, New York City, NY 10001"
186438,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186554,150216,Wired Headphones,1,11.99,01/21/19 09:20,"691 Pine St, San Francisco, CA 94016"

##### Dropping the duplicated data

In [235]:
merged_data = df2.drop_duplicates()
merged_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
21,248171,USB-C Charging Cable,1,11.95,09/05/19 15:06,"705 Hill St, New York City, NY 10001"
658,248787,AA Batteries (4-pack),1,3.84,09/09/19 12:30,"705 Adams St, San Francisco, CA 94016"
1822,249895,34in Ultrawide Monitor,1,379.99,09/19/19 22:14,"901 South St, San Francisco, CA 94016"
1839,249910,AAA Batteries (4-pack),1,2.99,09/09/19 18:34,"295 Meadow St, San Francisco, CA 94016"
2113,250174,Apple Airpods Headphones,1,150,09/30/19 19:32,"490 6th St, New York City, NY 10001"
...,...,...,...,...,...,...
185436,149149,Lightning Charging Cable,1,14.95,01/12/19 12:30,"180 1st St, Boston, MA 02215"
185597,149308,Apple Airpods Headphones,1,150,01/02/19 23:07,"351 Madison St, New York City, NY 10001"
185817,149515,USB-C Charging Cable,1,11.95,01/14/19 21:19,"913 10th St, Los Angeles, CA 90001"
186050,149738,USB-C Charging Cable,1,11.95,01/11/19 11:22,"612 West St, New York City, NY 10001"
186554,150216,Wired Headphones,1,11.99,01/21/19 09:20,"691 Pine St, San Francisco, CA 94016"

#### Spliting the 'Order Date' column into Month and Time columns

In [238]:
# Convert 'Order Date' column from object to datetime
merged_data.loc[:, 'Order Date'] = pd.to_datetime(merged_data['Order Date'], errors='coerce')
# Add a month column
merged_data.loc[:,'Month'] = merged_data['Order Date'].dt.month
#Add a time column
merged_data.loc[:,'Time'] = merged_data['Order Date'].dt.time
merged_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Time
21,248171,USB-C Charging Cable,1,11.95,2019-09-05 15:06:00,"705 Hill St, New York City, NY 10001",9.0,15:06:00
658,248787,AA Batteries (4-pack),1,3.84,2019-09-09 12:30:00,"705 Adams St, San Francisco, CA 94016",9.0,12:30:00
1822,249895,34in Ultrawide Monitor,1,379.99,2019-09-19 22:14:00,"901 South St, San Francisco, CA 94016",9.0,22:14:00
1839,249910,AAA Batteries (4-pack),1,2.99,2019-09-09 18:34:00,"295 Meadow St, San Francisco, CA 94016",9.0,18:34:00
2113,250174,Apple Airpods Headphones,1,150,2019-09-30 19:32:00,"490 6th St, New York City, NY 10001",9.0,19:32:00

In [242]:
#checking nan value in the Month column created
nan_values = merged_data[merged_data['Month'].isna()]
nan_values

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Time
3732,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address,NaN,NaT

In [241]:
# Confirming the contents of the specified row with indexing
df = merged_data.loc[merged_data.index == 3732]
print(df)

      Order ID  Product  Quantity Ordered  Price Each Order Date  \
3732  Order ID  Product  Quantity Ordered  Price Each        NaT

      Purchase Address  Month Time
3732  Purchase Address    NaN  NaT

In [245]:
# Dropping the row from the Merged dataframe
merged_data.drop(3732, inplace=True)

In [253]:
# Converting the Month column to an integer.  
merged_data.loc[:, 'Month'] = merged_data['Month'].astype('int32')

In [254]:
#Confirming the data types of the month and time columns
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, 21 to 186554
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          264 non-null    object
 1   Product           264 non-null    object
 2   Quantity Ordered  264 non-null    object
 3   Price Each        264 non-null    object
 4   Order Date        264 non-null    datetime64[ns]
 5   Purchase Address  264 non-null    object
 6   Month             264 non-null    int32
 7   Time              264 non-null    object
dtypes: datetime64[ns](1), int32(1), object(6)
memory usage: 25.6+ KB

### Data Exploration
Solving the main business questions related to the data
#### A.  What was the best month of sales? How much was earned that month?

In [255]:
merged_data.head(50)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Time
21,248171,USB-C Charging Cable,1,11.95,2019-09-05 15:06:00,"705 Hill St, New York City, NY 10001",9,15:06:00
658,248787,AA Batteries (4-pack),1,3.84,2019-09-09 12:30:00,"705 Adams St, San Francisco, CA 94016",9,12:30:00
1822,249895,34in Ultrawide Monitor,1,379.99,2019-09-19 22:14:00,"901 South St, San Francisco, CA 94016",9,22:14:00
1839,249910,AAA Batteries (4-pack),1,2.99,2019-09-09 18:34:00,"295 Meadow St, San Francisco, CA 94016",9,18:34:00
2113,250174,Apple Airpods Headphones,1,150,2019-09-30 19:32:00,"490 6th St, New York City, NY 10001",9,19:32:00
4567,252537,Wired Headphones,1,11.99,2019-09-18 21:37:00,"558 6th St, San Francisco, CA 94016",9,21:37:00
6082,253981,Lightning Charging Cable,1,14.95,2019-09-02 22:32:00,"811 Adams St, Atlanta, GA 30301",9,22:32:00
7091,254945,Apple Airpods Headphones,1,150,2019-09-23 18:09:00,"13 Hill St, Austin, TX 73301",9,18:09:00
7483,255318,Macbook Pro Laptop,1,1700,2019-09-26 11:58:00,"548 Jackson St, Dallas, TX 75001",9,11:58:00
7558,255390,Lightning Charging Cable,1,14.95,2019-09-09 14:34:00,"505 Hill St, San Francisco, CA 94016",9,14:34:00
8390,256196,USB-C Charging Cable,1,11.95,2019-09-27 21:09:00,"253 6th St, Boston, MA 02215",9,21:09:00
8794,256588,Apple Airpods Headphones,1,150,2019-09-08 18:07:00,"3 Dogwood St, Boston, MA 02215",9,18:07:00
8976,256763,27in FHD Monitor,1,149.99,2019-09-15 22:28:00,"23 11th St, San Francisco, CA 94016",9,22:28:00
9776,257530,USB-C Charging Cable,1,11.95,2019-09-03 11:13:00,"192 Johnson St, San Francisco, CA 94016",9,11:13:00
11009,258715,Lightning Charging Cable,1,14.95,2019-09-15 16:50:00,"550 10th St, Portland, OR 97035",9,16:50:00
11344,259035,27in FHD Monitor,1,149.99,2019-09-29 13:52:00,"327 Lake St, San Francisco, CA 94016",9,13:52:00
11618,259296,Apple Airpods Headphones,1,150,2019-09-28 16:48:00,"894 6th St, Dallas, TX 75001",9,16:48:00
11621,259297,Lightning Charging Cable,1,14.95,2019-09-15 18:54:00,"138 Main St, Boston, MA 02215",9,18:54:00
11974,279069,USB-C Charging Cable,1,11.95,2019-11-14 16:30:00,"593 South St, San Francisco, CA 94016",11,16:30:00
12420,279499,Google Phone,1,600,2019-11-24 13:51:00,"503 Maple St, Boston, MA 02215",11,13:51:00
12671,279736,Bose SoundSport Headphones,1,99.99,2019-11-05 17:02:00,"770 North St, Dallas, TX 75001",11,17:02:00
12700,279763,AAA Batteries (4-pack),1,2.99,2019-11-27 13:12:00,"522 Pine St, San Francisco, CA 94016",11,13:12:00
12833,279889,Bose SoundSport Headphones,1,99.99,2019-11-18 19:35:00,"499 8th St, Atlanta, GA 30301",11,19:35:00
14388,281389,Lightning Charging Cable,1,14.95,2019-11-22 12:28:00,"578 5th St, Los Angeles, CA 90001",11,12:28:00
14589,281581,Wired Headphones,1,11.99,2019-11-04 20:11:00,"819 5th St, New York City, NY 10001",11,20:11:00
14874,281850,27in FHD Monitor,1,149.99,2019-11-05 06:42:00,"423 Highland St, Atlanta, GA 30301",11,06:42:00
14911,281886,USB-C Charging Cable,1,11.95,2019-11-16 16:19:00,"791 Meadow St, Boston, MA 02215",11,16:19:00
15119,282089,AAA Batteries (4-pack),1,2.99,2019-11-08 16:41:00,"488 12th St, Portland, OR 97035",11,16:41:00
15172,282137,Lightning Charging Cable,1,14.95,2019-11-13 14:40:00,"197 13th St, Los Angeles, CA 90001",11,14:40:00
16630,283528,Wired Headphones,1,11.99,2019-11-13 10:05:00,"486 Johnson St, Los Angeles, CA 90001",11,10:05:00
16967,283843,Wired Headphones,1,11.99,2019-11-19 23:13:00,"850 Elm St, New York City, NY 10001",11,23:13:00
17317,284179,AAA Batteries (4-pack),1,2.99,2019-11-20 20:48:00,"614 Hill St, Dallas, TX 75001",11,20:48:00
17576,284428,USB-C Charging Cable,1,11.95,2019-11-04 21:47:00,"285 Church St, Los Angeles, CA 90001",11,21:47:00
17681,284525,USB-C Charging Cable,1,11.95,2019-11-05 13:29:00,"114 Ridge St, Seattle, WA 98101",11,13:29:00
19089,285875,USB-C Charging Cable,1,11.95,2019-11-26 22:10:00,"893 Center St, Atlanta, GA 30301",11,22:10:00
19143,285927,Wired Headphones,1,11.99,2019-11-28 15:31:00,"279 10th St, Austin, TX 73301",11,15:31:00
19618,286383,Wired Headphones,1,11.99,2019-11-27 10:08:00,"541 Washington St, Dallas, TX 75001",11,10:08:00
21444,288125,Bose SoundSport Headphones,1,99.99,2019-11-17 14:34:00,"385 Lake St, Boston, MA 02215",11,14:34:00
21967,288620,USB-C Charging Cable,1,11.95,2019-11-29 12:54:00,"637 Willow St, San Francisco, CA 94016",11,12:54:00
22360,288995,Wired Headphones,1,11.99,2019-11-04 23:58:00,"552 Lincoln St, Portland, OR 97035",11,23:58:00
23268,289860,AAA Batteries (4-pack),1,2.99,2019-11-21 13:52:00,"676 Dogwood St, Los Angeles, CA 90001",11,13:52:00
25434,291932,Flatscreen TV,1,300,2019-11-11 17:16:00,"340 Center St, San Francisco, CA 94016",11,17:16:00
25453,291949,Lightning Charging Cable,1,14.95,2019-11-30 23:22:00,"114 Elm St, Atlanta, GA 30301",11,23:22:00
25853,292335,AA Batteries (4-pack),1,3.84,2019-11-09 11:23:00,"834 5th St, Dallas, TX 75001",11,11:23:00
26666,293114,USB-C Charging Cable,1,11.95,2019-11-29 14:35:00,"145 8th St, Austin, TX 73301",11,14:35:00
26814,293254,Apple Airpods Headphones,1,150,2019-11-01 12:07:00,"762 12th St, San Francisco, CA 94016",11,12:07:00
26920,293356,USB-C Charging Cable,1,11.95,2019-11-13 00:59:00,"394 Dogwood St, Dallas, TX 75001",11,00:59:00
30326,260286,AA Batteries (4-pack),1,3.84,2019-10-25 18:18:00,"529 River St, New York City, NY 10001",10,18:18:00
30800,260739,AAA Batteries (4-pack),1,2.99,2019-10-09 23:06:00,"372 9th St, Seattle, WA 98101",10,23:06:00
31685,261586,AAA Batteries (4-pack),1,2.99,2019-10-11 20:03:00,"703 Main St, Los Angeles, CA 90001",10,20:03:00