In [1]:

import pandas as pd
import numpy as np
import datetime
Dates = ["2018-08-14","2019-10-17","2020-11-14","2020-05-17","2021-09-15","2021-12-14"]
Courses =["Spark","PySpark","Hadoop","Python","Pandas","Hadoop"]
df = pd.DataFrame({'InsertedDate': pd.to_datetime(Dates)},index=Courses)

# Use Datetime.strftime() Method to extract month and year
df['Year'] = df['InsertedDate'].dt.strftime('%Y')
df['Month'] = df['InsertedDate'].dt.strftime('%m')
print(df)

        InsertedDate  Year Month
Spark     2018-08-14  2018    08
PySpark   2019-10-17  2019    10
Hadoop    2020-11-14  2020    11
Python    2020-05-17  2020    05
Pandas    2021-09-15  2021    09
Hadoop    2021-12-14  2021    12

In [12]:
# Import pandas package
import pandas as pd
  
# create a dictionary with five fields each
data = {
    'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
    'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
    'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
    'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
    'E': ['E1', 'E2', 'E3', 'E4', 'E5']}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
  
# Remove column name 'A'
df.drop(['B'], axis=1)

    A   C   D   E
0  A1  C1  D1  E1
1  A2  C2  D2  E2
2  A3  C3  D3  E3
3  A4  C4  D4  E4
4  A5  C5  D5  E5